@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

body {
  background-color: white;
}

#frm01 {

  font-family: 'Montserrat', sans-serif;
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

#frm01 input[type=text],input[type=tel],input[type=email], textarea {
  padding: 10px;
  border: 1px solid #CCC;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: block;
  margin-top: 10px;
}

#frm01 input[type=text],input[type=tel],input[type=email] {
  width: 400px;
}

fieldset {
  font-size: 30px;
  border: 0;
}

fieldset legend{
  margin-top: 50px;
  font-weight: bold;
  font-size: 30px;
}

fieldset div label{
  font-size: 20px;
}

.botao {
  font-size: 30px;
  background: #364450;
  border: 0;
  margin-top: 10px;
  color: #FFF;
  padding: 0.2em 0.6em;
  transition: 0.3s;
  margin-bottom: 30px;
}

.botao:hover {
  background: #27ecd4;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
}

.botao {
  cursor: pointer;
}

::placeholder {
  /*font-family: 'Merienda', cursive;*/
}

.flex {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.rodape{
  font-family: 'Montserrat', sans-serif;
  background: #364450;
  position: static;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 10px 0 10px 0;
}

.rodape h3{
  font-weight: bold;
  font-size: 25px;
  padding: 5px;
}

.rodape p {
  font-size: 16px;
  padding: 8px;
}

.rodape-2{
  color: #364450;
  background: #27ecd4;
}
