.topnav {
  background-color: #364450;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  transition: 0.5s;
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #27ecd4;
  color: white;
}

.topnav .motor{
    float: right;
    color: white;
    font-size: 30px;
    margin: 5px 10px 0 0;
}
