@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

body {
  text-align: center;
  background-color: white;
}

figure img{
  margin-top: 50px;
}

.secao {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  margin: 50px 18% 50px 18%;
  font-size: 21px;
}

.article{
  margin: 50px 0 50px 0;
}

.secao h1{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
}

.secao a {
  color: black;
  font-style: italic;
  text-decoration: underline;
}

.secao a:hover {
  transition: 0.5s;
  color: #27ecd4;
}

hr.rounded {
  border-top: 2px solid #27ecd4;
  border-radius: 5px;
  width: 15%;
}

.flex {
  display: flex;
  flex-direction: row;
}

.rodape{
  font-family: 'Montserrat', sans-serif;
  background: #364450;
  position: static;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 10px 0 10px 0;
}

.rodape h3{
  font-weight: bold;
  font-size: 25px;
  padding: 5px;
}

.rodape p {
  font-size: 16px;
  padding: 8px;
}

.rodape-2{
  color: #364450;
  background: #27ecd4;
}
